/* animation: name duration timing-function delay iteration-count direction fill-mode; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

.bounce {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: orange;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(300px);}
}