/* animation: name duration timing-function delay iteration-count direction fill-mode; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    font-family: sans-serif;
}

.text {
    width: 31ch;
    color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    margin: 100px auto;
    animation: typing 3s steps(18), blink .5s step-end infinite alternate;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}